@import "bootstrap";
@import "compass";
$short-sprite-dimensions: true;

.no-scroll {overflow:hidden;-webkit-overflow-scrolling: touch;}
.wrapper {max-width:980px; margin:0 auto; }
.wrapper-modal {padding:0 330px 0 0; @include box-sizing(border-box); position:relative; z-index:10; }

/* Header */

.header {
  overflow: hidden;
  padding-top: 15px;
}
.main_content {
	padding-top: 10px;
}
.site_title {
	font-size: 48px;
	font-weight: bold;
	color: #949597;
	text-align: right;
	float: left;
	border-right: 5px solid #cb272e;
	overflow: hidden;
	width: 302px;
	padding-right: 10px;
	line-height: 39px;
	margin-top: 40px;
	site_name {
	color: #949597;
}
site_name {
	color: #949597;
}
.site_name:hover {
	text-decoration:none;
}

}
.head_info {
	font-size: 26px;
	float: left;
	width: 297px;
	padding: 0px 15px;
	line-height: 28px;
	margin-top: 40px;
	font-weight: bold;
}
.chaplin {
	background: url(../assets/chaplin.png) no-repeat;
	float: left;
	height: 200px;
	width: 100px;
}
.standee_logo {
	background: transparent;
  margin-top: -29px;
  margin-bottom: 30px;
}

.speech {
	background: url(../assets/words.png) no-repeat;
	float: left;
	width: 281px;
	height: 160px;
	margin-top: 30px;
}
/* Footer */

.footer {
	overflow: hidden;
}
.stlogo {
	background: url(../assets/stlogo.png);
	float: left;
	width: 150px;
	height: 150px;
}
.adress {
	width: 150px;
	height: 120px;
	float: left;
	margin-left: 20px;
	padding: 30px 0;
}

.lang {position: absolute; top:-5px; right:0px; margin:0; padding:0; list-style: none;}
.lang-ru,.lang-en {float:left; margin:5px 0 0 5px;  }
.lang-a {float:left; width:16px; height:11px; background:url(flags.png) left top no-repeat; text-decoration: none !important;}
.lang-en .lang-a {background-position: left bottom;}
.lang-all {padding:4px 5px 6px; background:#ddd; @include border-radius(0 0 6px 6px);}
.lang-active {background:#C7D647;}

.btop-container-height {overflow:hidden;}

.content h1 {font-size:26px;}


.fade { @include transition(opacity 0.5s linear); opacity:0;}

.column {
	position: absolute;
	overflow: hidden;
	width: 196px;
	height: 100%;
	background: #fff;
	border-right: 1px dashed #ccc;
	border-left: 1px dashed #fff;
	border-top: 1px dashed #fff;
	border-bottom: 1px dashed #fff;
	padding: 3px;
}
.no_border {
	border-right: 1px dashed #fff;
	border-left: 1px dashed #fff;
	border-top: 1px dashed #fff;
	border-bottom: 1px dashed #fff;
}
.block {
	height: 850px;
	position: relative;
	float: left;
	width: 196px;
	background: #fff;
}
.stand_descr {
	color: #949597;
	overflow: hidden;
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 20px;
}
.stand_name{
	font-size: 24px;
	font-weight: bold;
	color: #949597;
	text-decoration: none;
	float: left;
	clear: both;
	width: 196px;
}
.stand_name:hover, .stand_name:active {
	color: #fff;
	text-decoration: none;
}
.stand_size {
	float: left;
	clear: both;
}
.stand_price {
	color: #cb272e;
	float: left;
	padding-left: 6px;
}
.stand_info {
	height: 450px;
	padding: 3px;
}
.order {
	text-align: center;
	margin-top: 30px;
}
.button {
	border-radius: 200px;
	text-transform: uppercase;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	padding: 5px 30px;
	background: #cb272e; /* Old browsers */
	background: -moz-linear-gradient(top,  #cb272e 0%, #ea8f95 27%, #db0a31 70%, #cb272e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cb272e), color-stop(27%,#ea8f95), color-stop(70%,#db0a31), color-stop(100%,#cb272e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cb272e 0%,#ea8f95 27%,#db0a31 70%,#cb272e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cb272e 0%,#ea8f95 27%,#db0a31 70%,#cb272e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cb272e 0%,#ea8f95 27%,#db0a31 70%,#cb272e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #cb272e 0%,#ea8f95 27%,#db0a31 70%,#cb272e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb272e', endColorstr='#cb272e',GradientType=0 ); /* IE6-9 */
}

a.button:hover  {
	text-decoration: none;
	color: #FFFFFF;
	background: #c90006; /* Old browsers */
	background: -moz-linear-gradient(top,  #c90006 0%, #e8535a 27%, #d80027 70%, #c9060c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c90006), color-stop(27%,#e8535a), color-stop(70%,#d80027), color-stop(100%,#c9060c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #c90006 0%,#e8535a 27%,#d80027 70%,#c9060c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #c90006 0%,#e8535a 27%,#d80027 70%,#c9060c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #c90006 0%,#e8535a 27%,#d80027 70%,#c9060c 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #c90006 0%,#e8535a 27%,#d80027 70%,#c9060c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c90006', endColorstr='#c9060c',GradientType=0 ); /* IE6-9 */
}

a.button:active  {
	text-decoration: none;
	color: #FFFFFF;
	background: #c90006; /* Old browsers */
	background: -moz-linear-gradient(top,  #c90006 0%, #d61535 49%, #c9060c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c90006), color-stop(49%,#d61535), color-stop(100%,#c9060c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #c90006 0%,#d61535 49%,#c9060c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #c90006 0%,#d61535 49%,#c9060c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #c90006 0%,#d61535 49%,#c9060c 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #c90006 0%,#d61535 49%,#c9060c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c90006', endColorstr='#c9060c',GradientType=0 ); /* IE6-9 */
}
.wrapper {
	width: 1252px;
	margin: auto;
}
.current {
	box-shadow: inset 0px 0px 0px 3px #cb272e;
}
.main_content {
	clear:both
}

.size_price {font-weight: bold;}

.thumb {
	position: absolute;
	bottom: 20px;
	height: 20%;
	right: 0;
	left: 0;
	margin: auto;
}

.wrp {
	.left_block {
		float:left;
	}
	.right_block {
		float:right;
	}
}